@model IEnumerable<AxelHarveyStudio.DATA.EF.Reservation>

@{
    ViewBag.Title = "Studio Reservations";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerAsset.AssetName)
        </td>
        @if (User.IsInRole("Admin") && Request.IsAuthenticated
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ReserationID })
            @Html.ActionLink("Details", "Details", new { id = item.ReserationID })
            @Html.ActionLink("Delete", "Delete", new { id = item.ReserationID })
        </td>
        }

    </tr>
}

</table>
