@model IEnumerable<AxelHarveyStudio.DATA.EF.PortfolioItem>

@{
    ViewBag.Title = "Past Work";
}
<br /><br />
<br /><br />
<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin") && Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobReview)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobReview)
            </td>
            <td>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.JobID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.JobID })
                }


                @Html.ActionLink("Details", "Details", new { id = item.JobID })

            </td>
        </tr>
    }

</table>
