@model IEnumerable<AxelHarveyStudio.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Website Users";
}
<br /><br />
<br /><br />
<br /><br />
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.UserName)*@
                <p>User Name</p>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <span style="padding: 1.5rem; display: inline-block;"><a href="@Url.Action("Edit","UsersAdmin", new { id = item.Id })"><i class=" fas fa-edit  " alt="edit"></i></a></span>

                    <span style="padding: 1.5rem; display: inline-block;"><a href="@Url.Action("Details","UsersAdmin", new { id = item.Id })"><i class="fas fa-info-circle  " alt="edit"></i></a></span>

                    <span style="padding: 1.5rem; display: inline-block;"><a href="@Url.Action("Delete","UsersAdmin", new { id = item.Id })"><i class="fas fa-dumpster-fire  " alt="delete"></i></a></span>


                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable()

        });

    </script>
    }