@model AxelHarveyStudio.DATA.EF.OwnerAsset

@{
    ViewBag.Title = "Delete " + Model.AssetName;
}
<br /><br />
<br /><br />
<br /><br />


<h3 class="text-center">Are you sure you want to deactivate @Model.AssetName?</h3>
<div>

    <hr />
    <dl class="dl-horizontal text-center">
        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetail.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.AssetPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetPhoto)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.OwnerNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions text-center">
            <input type="submit" value="Deactivate" class="btn btn-default" />
            @Html.ActionLink("Cancel", "Index")
        </div>
    }
</div>
